# **Análise de cancelamentos de planos**
---

Neste *jupyter notebook*, vamos analisar as taxas de cancelamentos de planos da **Umbrella Corporation**, e a partir dessa análise, tentar descobrir os motivos que levaram a uma alta taxa de cancelamentos, e reverter a situação no processo.

## *Passo 1:* abrir o *dataset*
---
A primeira coisa a se fazer é abrir o *dataset* no *notebook*. Para isso, iremos fazer uso de uma biblioteca do ***Python*** usada para análise de dados cha,ada **Pandas**.

1. Baixe o *dataset* no tema **Materiais**, que se encontra no site ***Google Classroom*** (https://classroom.google.com) na pasta raíz do projeto.
2. Em seguida, crie um ambiente virtual do Python na raiz do projeto `(.venv)`
3. Após a criação do `.venv`, instale a biblioteca **Pandas** no ambiente virtual usanfo **CLI** através do comando `pip install pandas`. Não se esqueça de ativar o ambiente virtual no ***kernel*** do notebook no canto superior direito do notebook, em ***Selecione Kernel***

## *Passo 2:* abrir o *dataset*
---

Com o **Pandas** instalado no ambiente virtual do nosso projeto, agoroa vamos abrir o **dataset**. Para isso, vamos crisr uma nova célula logo após essa célula de markdown, e digitarmos o código-fonte para abrir os dados do dataset no notebook. O código-fonte está logo abaixo:

In [1]:
# importando a bilioteca pandas
import pandas as pd

# lê os dados do dataset
tabela = pd.read_csv('cancelamentos.csv')

# mostra os dados da tabela
display(tabela)

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

O comando `display()`permite a exibição dos dados como se fosse uma tabela.

Só que agora que finalmente temos os dados armazenados na variável `tabela`, precisamos filtrar esses dados.Vamos realizar a consulta, mas desta vez iremos retirar a coçuna ID, pois ela é inútil para a nossa análise de dados:

In [2]:
# exibe novamente os dados, eliminando a coluna ID
tabela = tabela.drop('CustomerID', axis=1)
display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

## *Passo 3:* Tratamento de dados
---
## **Não é feitiçaria. É tecnologia ...**

Graças ao **Python**, agora temos uma poderosa ferramenta para análise de dados muito mais perfeita que muita ferramenta femosa (*cof cof* Excel).

Na nossa planilha, nós temos muitas linhas, sendo que algumas delas estão com dados vazios (mas mão sabemos quais, nem quantas). Portanto, vamos exibir as informações da nossa planilha para verificar quantas linhas possuem, de fato, dados, e quantas estão vazias. Veja a célula de código a seguir:

In [3]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881666 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881664 non-null  float64
 1   sexo                    881664 non-null  object
 2   tempo_como_cliente      881663 non-null  float64
 3   frequencia_uso          881663 non-null  float64
 4   ligacoes_callcenter     881664 non-null  float64
 5   dias_atraso             881664 non-null  float64
 6   assinatura              881661 non-null  object
 7   duracao_contrato        881663 non-null  object
 8   total_gasto             881664 non-null  float64
 9   meses_ultima_interacao  881664 non-null  float64
 10  cancelou                881664 non-null  float64
dtypes: float64(8), object(3)
memory usage: 74.0+ MB

None

Os números de linhas para cada coluna não batem, o que indica que existem células não preenchidas poluindo nossa análise de dados. Precisaremos eliminá-las. Segue a célula de código abaixo:

In [4]:
tabela = tabela.dropna()
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Index: 881659 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881659 non-null  float64
 1   sexo                    881659 non-null  object
 2   tempo_como_cliente      881659 non-null  float64
 3   frequencia_uso          881659 non-null  float64
 4   ligacoes_callcenter     881659 non-null  float64
 5   dias_atraso             881659 non-null  float64
 6   assinatura              881659 non-null  object
 7   duracao_contrato        881659 non-null  object
 8   total_gasto             881659 non-null  float64
 9   meses_ultima_interacao  881659 non-null  float64
 10  cancelou                881659 non-null  float64
dtypes: float64(8), object(3)
memory usage: 80.7+ MB

None

## *Passo 4:* Análise de dados
---

Agora que os dados foram tratados, podemos iniciar a *Análise de Dados* propriamente dita. Que tal começarmos com a ***taxa de cancelamento da empresa**? Afinal de contas, esse é o nosso objetivo: diminuirmos a taxa de cancelamentos.
Vamos pegar a coluna de taxa de cancelamentos e exibir para darmos uma olhada. Veja na célula de código a seguir:

In [5]:
display(tabela['cancelou'].value_counts())

cancelou
1.0    499993
0.0    381666
Name: count, dtype: int64

Repare que o número de cancelamentos é maior do que o de não cancelamentos, o que significa que algo de errado não está certo. Mas quanto de cancelamentos está acima do de não cancelados? Vamos refazer a análise. Observe a célula de código a seguir:

In [6]:
display(tabela['cancelou'].value_counts(normalize=True).map('{:.2%}'.format))

cancelou
1.0    56.71%
0.0    43.29%
Name: proportion, dtype: object

Agora sabemos que **56,71%** dos clientes cancelaramseus contratos. Um número excessivamente alto, levando em conta que mais da metade dos clientes foram perdidos . Agora precisaremos investigar de onde vem essa taxa tão alta de cancelamentos.

**IMPORTANTE: Na parte de análise de dados, não tem uma informação correta para ser analisada logo de cara. Esse é um processo que vai tomar tempo, pois você ,de fato, precisará analisar os dados e entender o que está acontecendo no seu dataset. Então pode ser que demore mais em alguns casos do que em putros para encontrar o que procura antes de propor uma solução**

## *Passo 5:* Investigação do problema
---

Vamos por partes. Começaremos pela duração dos contratos. Ao verificar a coluna de duração de contratos (`duração_contrato`), veremos que existem 3 tipos de contratos: Anual, Trimestral e Mensal. Vejamos a duração média de cada tipo de contrato.

In [7]:
# números brutos
display(tabela['duracao_contrato'].value_counts())

# porcentagem
display(tabela['duracao_contrato'].value_counts(normalize=True).map('{:.2%}'.format))

duracao_contrato
Annual       354395
Quarterly    353059
Monthly      174205
Name: count, dtype: int64

duracao_contrato
Annual       40.20%
Quarterly    40.04%
Monthly      19.76%
Name: proportion, dtype: object

A partir dessa análise, verifico que a minoria dos meus clientes, possuem contrato do tipo **Mensal**. Será por que a maioria dos cancelamentos é do tipo tipo de contrato mensal? Para descobrir, vamos analisar a taxa de cancelamento por tipo de contrato. O que vamos fazer é agrupar os 3 tipos de contratos para verificar a taxa de cancelamento de cada um. Vejamos a célula de código abaixo:

In [8]:
display(tabela.groupby('duracao_contrato').mean(numeric_only=True))

,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,
Annual,38.842165,31.446186,15.880213,3.263401,12.465156,651.697738,14.236107,0.460760
Monthly,41.552407,30.538555,15.499274,4.985649,15.007267,550.616435,15.478012,1.000000
Quarterly,38.830938,31.419916,15.886662,3.265245,12.460863,651.427783,14.234544,0.460255

Podemos ver que tem algo estranho na taxa de cancelamento visto na coluna **cancelou**. Vamos verificar qual a porcentagem de cancelamentos de cada um dos tipos de contrato:

In [9]:
tb_cancelar = tabela.groupby('duracao_contrato').mean(numeric_only=True)
display(tb_cancelar['cancelou'].map('{:.2%}'.format))

duracao_contrato
Annual        46.08%
Monthly      100.00%
Quarterly     46.03%
Name: cancelou, dtype: object

Conforme análise, descobrimos que os clientes que possuem contrato do tipo mensal possuem uma taxa de 100% de cancelamento. Dessa forma,vamos re-analisar o dataset, mas desta vez, sem os contratos do tipo mensal.

In [10]:
tabela = tabela[tabela['duracao_contrato'] != 'Monthly']
display(tabela)
display(tabela['cancelou'].value_counts())
display(tabela['cancelou'].value_counts(normalize=True).map('{:.2%}'.format))

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
5,51.0,Male,33.0,25.0,9.0,26.0,Premium,Annual,129.00,8.0,1.0
6,58.0,Female,49.0,12.0,3.0,16.0,Standard,Quarterly,821.00,24.0,1.0
7,55.0,Female,37.0,8.0,4.0,15.0,Premium,Annual,445.00,30.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

cancelou
0.0    381666
1.0    325788
Name: count, dtype: int64

cancelou
0.0    53.95%
1.0    46.05%
Name: proportion, dtype: object

Conseguimos diminuir a taxa de cancelamento para **46,05%**.É uma dimnuição de **10%**, mas a taxa de cancelamento ainda está muita alta. Afinal, são quase **50%** de cancelamentos, mesmo com a eliminaçãp dos contratos do tipo mensal. Então vamos continuar investigando.

### Gráficos
---

Uma das melhores formas de se formas de se analisar dados é através de gráficos, pois fica muito mais fácil visulalisar os dados e obter as informações necessárias.

Para o noos caso aqui e agora, vamos usar a biblioteca **plotly.express** para gerar os graficos das nossas colunas. Obviamente, precisaremos fazer sua instalação através do comando `pip install plotly`no **CLI**

Vamos usar o **plotly** para criar um histograma com cada uma das colunas. Assim poderemos analisar cada uma das informações e verificar como elas se comportam em relação aos cancelamentos da empresa.Vamos gerar aos cancelamentos da empresa.Vamos gerar os gráficos de todas as colinas a partir da célula de código a seguir:

In [ ]:
import plotly.express as px

for coluna in tabela.columns:
    grafico = px.histogram(tabela, x=coluna, color='cancelou', width=600)
    grafico.show()

**Obs:** caso o códigopara exibição de gráficos retorne erro, instale uma biblioteca adicional que deverá corrigir isso `pip install nbformat`.Se meso após isso o gráficp não funcionar e continuar dando erro, feche o VSCode e reinicie o programa, reexecutando todas as células novamente.

Após análise dos gráficos, pudemos verificar que a quantidade de cancelament de plano de clientes que atrasaram o pagamento é maior do que a de quem não atrasou o pagamento.

Também pudemos verificar que a taxa está diretamente ligada ao número de ligações feitas ao call center.

**Solução:** melhor o setor de call center.

## Resultado
---

Analisando os gráficos de ligações para o call center e dos atrasos de pagamento, conseguimos chegar à raiz do problema: ** os clientes que fizeram mais que 5 ligações para o call center cancelaram seus planos. Para finalizarmos, vamos refazer a análise do dataset, re-exibindo  os dados, desta vez sem os planos mensais, e sem as ligações para o call center para o call center  que excederam  em 5 tentativas, e também vamos eliminar da exibição os clientes que passaram mais tempo sem pagar as suas assinaturas. Vejamos o código a seguir:

In [13]:
tabela = tabela[tabela['ligacoes_callcenter'] < 5]
tabela = tabela[tabela['dias_atraso'] <= 20]
display(tabela)
display(tabela['cancelou'].value_counts())
display(tabela['cancelou'].value_counts(normalize=True).map('{:.2%}'.format))

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
6,58.0,Female,49.0,12.0,3.0,16.0,Standard,Quarterly,821.00,24.0,1.0
7,55.0,Female,37.0,8.0,4.0,15.0,Premium,Annual,445.00,30.0,1.0
9,64.0,Female,3.0,25.0,2.0,11.0,Standard,Quarterly,415.00,29.0,1.0
13,48.0,Female,35.0,25.0,1.0,13.0,Basic,Annual,518.00,17.0,1.0
19,42.0,Male,15.0,16.0,2.0,14.0,Premium,Quarterly,262.00,16.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

cancelou
0.0    379032
1.0     85447
Name: count, dtype: int64

cancelou
0.0    81.60%
1.0    18.40%
Name: proportion, dtype: object